layout {
    focus-ring {
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    border {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    shadow {
        color "{{colors.shadow.default.hex_alpha | set_alpha: 0.5 }}"
    }

    tab-indicator {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    insert-hint {
        color "{{colors.primary.default.hex_alpha | set_alpha: 0.75 }}"
    }
}
